body {
  background-color: #a89d9d;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

#bookstore {
  color: #0290ff;
  font-size: 30px;
  font-weight: 700;
  padding-left: 60px;
}

.primary-color {
  color: #0290ff;
}

.fa {
  width: 1.8rem;
  height: 1.8rem;
  color: #0290ff;
}

.oval-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  width: 50%;
  font-size: 44px;
}

.circular {
  width: 100px;
  height: 100px;
}

.first {
  margin-left: 10px;
}

.book {
  border: 1px solid #e8e8e8;
}

.btn:not(:first-of-type) {
  border-left: 1px solid #e8e8e8;
}

h6 {
  color: #3a3737;
  opacity: 0.5;
  font-family: Montserrat;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
